@media screen and (max-width: 1100px) {
    main{
        display: block;
    }
    .con12{
        width: 100%;
    }
    .con2{
        width: 45%;
        margin-left: 10%;
        margin-right: 0;
    }
    .con3{
        width: 80%;
        margin-left: 10%;
    }
   }
   @media screen and (max-width: 700px) {
    #nav_img{
        margin-left: 20%;
    }
   }
   @media screen and (max-width: 600px) {
    main{
        display: block;
       }
       .con12{
           display: block;
       }
    #dashboard{
        margin-left: 30%;
    }
    .con1{
        width: 50%;
        margin-left: 25%;
    }
    .con2{
        width: 50%;
        margin-right: 0%;
        margin-left: 25%;
    }
    .con3{
        margin-left: 10%;
    }
    .temp{
        margin-left: 0;
    }
    .drop_down{
        padding-right: 10%;
    }
    #nav_img{
        margin-left: 20%;
    }
    .con1,.con2{
        width: 70%;
        margin-left: 15%;
    }
   }
   @media screen and (max-width: 490px) {

    #dashboard{
        padding-left: 2%;
        font-size: large;
        margin-left: 10%;
    }

    #nav_img img{
        width: 30px;
        height: 30px;
        margin-top: 3%;
        margin-left: 20%;
    }
    #nav_bell,#nav_bracket{
        padding-left: 4%;
        margin-left: 0;
    }
   }